form {
  display: flex;

  justify-content: center;
  padding: 30px;
  padding-top: 40px;
  gap: 20px;
}

form input {
  width: 400px;
  height: 20px;
  border-radius: 5px;

  padding-inline: 5px;
  border: none;
  background-color: rgb(232, 232, 232);

  font-size: 20px;
  color: black;
}

form textarea {
  border-radius: 5px;
  width: 400px;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: rgb(232, 232, 232);

  font-size: 20px;
  color: black;
}

p {
  color: red;
}

.main {
  height: 76vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  padding-block: 60px;
}

.inputsDiv {
  display: flex;

  align-items: center;
  justify-content: center;

  height: 100%;

  gap: 20px;
}

.inputsDiv input,
.inputsDiv textarea {
  padding: 3px;
}

button {
  width: 20%;
}

.errorsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  gap: 10px;

  margin-block: 60px;
}

.errorsDiv p {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  text-align: center;
}

.placeInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.addressGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.userInteraction {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  gap: 10px;
}
.checkBoxField {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;

  gap: 10px;
}
.checkBoxWrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
  gap: 5px;
}
.checkBoxWrapper > * {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.h1Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-inline: 10px;
  text-align: center;
}

.buttonsDiv {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.placeInfo select {
  height: 40px;
  width: 400px;
  padding: 5px;
  font-size: 16px;
}
